<style type="text/css">

.loginme{
  text-align: center;
  color: #eb3812;
  margin-top: 30px;
  margin-bottom: 10px;
}

.landfooter{
  margin-top: 100px;
  background-color: #eb3812;
  color: white;
  padding: 50px;
}

.footerabout{
  text-align: justify;
  font-weight: 300;
}

</style>


<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #ffffff">
  <a class="navbar-brand" style="color: #eb3812;" href="/">
<img src="navlogo.png" style="height: 100%; margin-right: 0px;">
        <span style="margin-top: 8px;"> iTunesCash.io</span></a>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/users/sign_in">Sign In<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About Us</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="holme">
        <br><br>
        <h1 style="color: #eb3812;">Terms of Service</h1>
        <p class="footerabout">
        <span style="font-size: 25px; color: #eb3812; font-weight: 500;"> Acceptance of terms</span><br>
        By entering, connecting to, accessing, or using the Service, you acknowledge that you have read and understood the following terms of use, terms of Cashout and the terms of our privacy policy set out below (“Privacy Policy”) (collectively, the “Terms”) and you agree to be bound by them and to comply with all applicable laws and regulations regarding the Service and you acknowledge that these Terms constitute a legally binding and enforceable agreement between iTunesCash and you, the User.
        <br>
        <span style="color: #eb3812; font-weight: 500;">IF YOU DO NOT AGREE TO THESE TERMS, PLEASE DO NOT ENTER, CONNECT TO, ACCESS OR USE THE SERVICE IN ANY MANNER.</span>
        <br>
        By acceptance of the Terms, you represent that any and all information you provide us through the Service is right and exact. The provision of any false or fraudulent information is strictly prohibited. The Service is available only to individuals who are at least eighteen (18) years old. You are also responsible for ensuring that all persons who access the Services through your internet connection are aware of these Terms and that they comply with them.<br><br>
        <span style="font-size: 25px; color: #eb3812; font-weight: 500;">Services</span><br>
        The Service provides you with a platform to get Cash out of your unwanted and unused U.S iTunes store Gift Cards at 60% of face value at Dollar rate stated on our website which is subject to change without any prior notice. Remember this does not include iTunes Store Gift Card codes without actual picture of card, scanned pictures or photoshopped images. iTunesCash will accept only iTunes Gift Cards redeemable on the United States iTunes Store. You must open a User account (“Account”) through our Service directly.
        <br>
        <br>
        - You shall not send iTunesCash U.S iTunes store gift card with face value of less than $20 and not more than $100 on a single card. iTunesCash must be able to verify the balance of all Gift Cards sent to us. Payment will be sent within 48hrs after validity and balance is confirmed.
        <br>
         - We shall not be liable for refund of fake or already redeemed iTunes Card sent to us by a User.
        <br>
         - We shall not be liable for refund in the event where User is not able to provide additional verification when need be.
        <br>
         - iTunesCash is not responsible for any loss or damage that it did not reasonably anticipate. For example, uploading a gift card with value of more than $100 on a single card, or sending a photoshopped picture of Gift card.
         <br>
         <br>
          <span style="color: #eb3812; font-weight: 500;"><span style="font-weight: 900;">PLEASE NOTE:</span> YOU ACKNOWLEDGE AND AGREE THAT AS A RESULT OF SPECIFIC USER TRANSACTIONAL BEHAVIOR VIA THE SERVICE, YOU MAY BE SUBJECT TO ADDITIONAL SECURITY MEASURES REQUIRING A BACKGROUND VERIFICATION. YOU SHALL BE CONTACTED BY ITUNESCASH IF THE AFOREMENTIONED APPLIES TO YOU AND YOU MUST PROVIDE ITUNESCASH WITH ALL REQUESTED INFORMATION IN ORDER TO CONTINUE WITH SUCH TRANSACTION(S) VIA THE SERVICE.</span>
        </p>
      </div>
    </div>
  </div>
</div>

<section class="landfooter">

<div class="container">
  <div class="row">
    <div class="col-lg-4 col-sm-12">
      <div class="innerholdfooter">
        <h4 style="color: #ffffff;">About ItunesCash.io</h4>
        <p class="footerabout">
                 Founded in 2015 based in Ghana, iTunesCash is a platform for cashing out unwanted and unused iTunes gift cards for Mobile Money or Bitcoin. Many people have unwanted or unused iTunes gift cards which are sometimes left to collect dust....<br><a href="/about" style="color: white; font-weight: 500;">Read more</a>
        </p>
      </div>
    </div>
        <div class="col-lg-4 col-sm-12">
      <div class="innerholdfooter">
        <h4 style="color: #ffffff;">Social Media</h4>
        <ul style="list-style-type: none;">
                  <li><span style="margin-right: 15px;"><i class="fa fa-facebook-official" aria-hidden="true" style="color: #fff;"></i>
                      <a href="" style="margin-left: 0px; color: #fff;">Facebook</a>
                  </li>
                  <li>
                  <i class="fa fa-twitter" aria-hidden="true" style="color: #fff;"></i>
                  <a href="" style="margin-left: 0px; color: #fff;">Twitter</a>
                  </li>
                  <li>
                   <i class="fa fa-instagram" aria-hidden="true" style="color: #fff;"></i>
                   <a href="" style="margin-left: 0px; color: #fff;">Instagram</a>
                  </li>
                  <li>
                   <i class="fa fa-google-plus-official" aria-hidden="true" style="color: #fff;"></i>
                   <a href="" style="margin-left: 0px; color: #fff;">Google Plus</a>
                  </li>
        </ul>
      </div>
    </div>
    <div class="col-lg-4 col-sm-12">
      <div class="innerholdfooter">
        <h4 style="color: #ffffff;">Contact Us</h4>
        <ul style="list-style-type: none;">
                  <li><span style="margin-right: 15px;"><i class="fa fa-envelope-o" aria-hidden="true" style="color: #fff;"></i>
                      <span style="margin-left: 0px; color: #fff;">smile@itunescash.io</span>
                  </li>
                  <li>
                  <i class="fa fa-phone" aria-hidden="true" style="color: #fff;"></i>
                  <span style="margin-left: 0px; color: #fff;">+233 507177187, +233 553393260</span>
                  </li>
                  <li>
                   <i class="fa fa-whatsapp" aria-hidden="true" style="color: #fff;"></i>
                   <span style="margin-left: 0px; color: #fff;">+233 553393260</span>
                  </li>
                  <li>
                   <i class="fa fa-skype" aria-hidden="true" style="color: #fff;"></i>
                   <span style="margin-left: 0px; color: #fff;">ItunesCash</span>
                  </li>
                  <li>
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                    <span class="dassorsoc">Working Hours<span><br>
                     <span style="margin-left: 18px;">Mon - Saturday (8:00am - 9:00pm)</span>
                  </li>
        </ul>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3970.479260141848!2d-0.23871658581567715!3d5.64357539590894!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xfdf994cfb9aead5%3A0xf6a65dd8f485afde!2sDome+Market!5e0!3m2!1sen!2sgh!4v1503362212418" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>

</section>