
<h1 style="color: #eb3812; text-align: center;"><img src="http://res.cloudinary.com/nikasemo/image/upload/v1504822767/navlogo_waefik.png" style="margin-right: 20px; padding-top: 20px;"><span style="padding-bottom: 20px;">Giftcard Approved</span></h1>

<p>
	<span style="font-weight: 700; font-size: 15px;">Transaction ID: <%= @bitcoin.transactionid %></span><br><br>
Hello <%= @user.firstname %>, <br><br>

Your gift card(s) has been approved and your iTunesCash is on it's way. You should receive it immediately or within 48hrs. In the rare case of a problem, we'll notify you by phone.<br>

Please do not reply to this email because it is automated and unable to receive replies. You may call or WhatsApp the numbers on our website.<br><br>

To the money,<br>

iTunesCash !!

</p>