<h1 style="color: #eb3812;">Giftcard Approved</h1>
<p>

Hello <%= @user.firstname %> ,
<br>
 Your gift card(s) has been received and being processed for cash immediately usually within 48hrs. In the rare case of a problem with your submission we'll notify you by phone. Below is your cash out details for future reference:

<br>

<p>
  <strong>Card type:</strong>
  <%= @bitcoin.cardamount %> dollar gift card
</p>

<p>
  <strong>Number of cards:</strong>
  <%= @bitcoin.number %>
</p>

<p>
  <strong>Payment Options:</strong>
  <%= @bitcoin.paymentoptions %>
</p>


<br>

Please do not reply to this email because it is automated and unable to receive replies. You may call or WhatsApp the numbers on our website.<br>
 Thank you for choosing our service!!
<br><br>
iTunesCash

</p>