
<style type="text/css">

.adonsini{
  margin-left: 35%;
margin-right:35%;
width: 30%; 
}

</style>

<%= form_for(bitcoin) do |f| %>
  <% if bitcoin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bitcoin.errors.count, "error") %> prohibited this bitcoin from being saved:</h2>

      <ul>
      <% bitcoin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div id="totalAmount"></div>


<label for="ten_dollars"><i style="color: #eb3812;" class="fa fa-2x fa-gift" aria-hidden="true"></i> <span style="margin-right: 5px;">10 dollar gift card</span></label>
  <input type="radio" name="bitcoin[cardamount]" id="bitcoin_cardamount_1" value="10" onclick="calculateTotal()" />
<br>
  <label for="fifteen_dollars"><i style="color: #eb3812;" class="fa fa-2x fa-gift" aria-hidden="true"></i> <span style="margin-right: 5px;">15 dollar gift card</span></label>
  <input type="radio" name="bitcoin[cardamount]" id="bitcoin_cardamount_2" value="15" onclick="calculateTotal()" />
<br>
  <label for="tewentyfive_dollars"><i style="color: #eb3812;" class="fa fa-2x fa-gift" aria-hidden="true"></i> <span style="margin-right: 5px;">25 dollar gift card</span></label>
  <input type="radio" name="bitcoin[cardamount]" id="bitcoin_cardamount_3" value="25" onclick="calculateTotal()" />
<br>
  <label for="fifty_dollars"><i style="color: #eb3812;" class="fa fa-2x fa-gift" aria-hidden="true"></i> <span style="margin-right: 5px;">50 dollar gift card</span></label>
  <input type="radio" name="bitcoin[cardamount]" id="bitcoin_cardamount_4" value="50" onclick="calculateTotal()" />
<br>
  <label for="hundred_dollars"><i style="color: #eb3812;" class="fa fa-2x fa-gift" aria-hidden="true"></i> <span style="margin-right: 5px;">100 dollar gift card</span></label>
  <input type="radio" name="bitcoin[cardamount]" id="bitcoin_cardamount_5" value="100" onclick="calculateTotal()" />
<br>
<label><span style="font-weight: 700;">Number of gift cards</span></label>
 <select class="custom-select mb-2 mr-sm-2 mb-sm-0" name="bitcoin[number]" id="bitcoin_number" onchange="calculateTotal()">
    <option selected>Number of cards</option>
    <option value="1" name="bitcoin[number]" id="bitcoin_number">One</option>
    <option value="2" name="bitcoin[number]" id="bitcoin_number">Two</option>
    <option value="3" name="bitcoin[number]" id="bitcoin_number">Three</option>
    <option value="4" name="bitcoin[number]" id="bitcoin_number">Four</option>
    <option value="5" name="bitcoin[number]" id="bitcoin_number">Five</option>
    <option value="6" name="bitcoin[number]" id="bitcoin_number">Six</option>
    <option value="7" name="bitcoin[number]" id="bitcoin_number">Seven</option>
    <option value="8" name="bitcoin[number]" id="bitcoin_number">Eight</option>
    <option value="9" name="bitcoin[number]" id="bitcoin_number">Nine</option>
    <option value="10" name="bitcoin[number]" id="bitcoin_number">Ten</option>
  </select>

  <br>
  <h5>Payment Options</h5>
 <label for="mobile_money"><span style="margin-right: 5px;">Mobile Money</span></label>
  <input type="radio" name="bitcoin[paymentoptions]" id="bitcoin_paymentoptions_1" value="Mobile Money" onclick="calculateTotal()" />
<br>
  <label for="bitcoin"></i> <span style="margin-right: 5px;">Bitcoin</span></label>
  <input type="radio" name="bitcoin[paymentoptions]" id="bitcoin_paymentoptions_1" value="Bitcoin" onclick="calculateTotal()" />
<br>
  <div class="actions" style="margin-top: 20px;">
    <%= f.submit "Next", :class => "btn btn-primary adonsini" %>
  </div>
<% end %>

<script type="text/javascript">

 var card_prices = new Array();
 card_prices["10"]=6;
 card_prices["15"]=9;
 card_prices["25"]=15;
 card_prices["50"]=30;
  card_prices["100"]=60;

  var card_number = new Array();
      card_number["1"]=1;
      card_number["2"]=2;
      card_number["3"]=3;
      card_number["4"]=4;
      card_number["5"]=5;
      card_number["6"]=6;
      card_number["7"]=7;
      card_number["8"]=8;
      card_number["9"]=9;
      card_number["10"]=10;

  var payment_options = new Array();
      payment_options["Mobile Money"]=4.42;
      payment_options["Bitcoin"]= 0.00025;


function getCardPrice()
{  
    var cardPrice=0;
    //Get a reference to the form id="cakeform"
    var theForm = document.forms["new_bitcoin"];
    //Get a reference to the cake the user Chooses name=selectedCake":
    var selectedCard = theForm.elements["bitcoin[cardamount]"];
    //Here since there are 4 radio buttons selectedCake.length = 4
    //We loop through each radio buttons
    for(var i = 0; i < selectedCard.length; i++)
    {
        //if the radio button is checked
        if(selectedCard[i].checked)
        {
            //we set cakeSizePrice to the value of the selected radio button
            //i.e. if the user choose the 8" cake we set it to 25
            //by using the cake_prices array
            //We get the selected Items value
            //For example cake_prices["Round8".value]"
            cardPrice = card_prices[selectedCard[i].value];
            //If we get a match then we break out of this loop
            //No reason to continue if we get a match
            break;
        }
    }
    //We return the cakeSizePrice
    return cardPrice;
}

function getPaymentOption()
{  
    var paymentOption=0;
    //Get a reference to the form id="cakeform"
    var theForm = document.forms["new_bitcoin"];
    //Get a reference to the cake the user Chooses name=selectedCake":
    var selectedPaymentoption = theForm.elements["bitcoin[paymentoptions]"];
    //Here since there are 4 radio buttons selectedCake.length = 4
    //We loop through each radio buttons
    for(var i = 0; i < selectedPaymentoption.length; i++)
    {
        //if the radio button is checked
        if(selectedPaymentoption[i].checked)
        {
            //we set cakeSizePrice to the value of the selected radio button
            //i.e. if the user choose the 8" cake we set it to 25
            //by using the cake_prices array
            //We get the selected Items value
            //For example cake_prices["Round8".value]"
            paymentOption = payment_options[selectedPaymentoption[i].value];
            //If we get a match then we break out of this loop
            //No reason to continue if we get a match
            break;
        }
    }
    //We return the cakeSizePrice
    return paymentOption;
}

function getCardNumber()
{
    var cardNumber=0;
    //Get a reference to the form id="cakeform"
    var theForm = document.forms["new_bitcoin"];
    //Get a reference to the select id="filling"
     var selectedCardnumber = theForm.elements["bitcoin_number"];
     
    //set cakeFilling Price equal to value user chose
    //For example filling_prices["Lemon".value] would be equal to 5
    cardNumber = card_number[selectedCardnumber.value];

    //finally we return cakeFillingPrice
    return cardNumber;
}



function calculateTotal()
{
    //Here we get the total price by calling our function
    //Each function returns a number so by calling them we add the values they return together
    var amtTotal = getCardPrice() * getCardNumber() * getPaymentOption(); // + candlesPrice() + insciptionPrice();
    
    //display the result
    var divobj = document.getElementById('totalAmount');
    divobj.style.display='block';
    if (getCardPrice() * getCardNumber() * getPaymentOption()) {
      divobj.innerHTML = "Total Amount to be received $ OR Btc "+amtTotal;
    };

}

function hideTotal()
{
    var divobj = document.getElementById('totalAmount');
    divobj.style.display='none';
}


</script>