
<h1 style="color: #eb3812; text-align: center;"><img src="http://res.cloudinary.com/nikasemo/image/upload/v1504822767/navlogo_waefik.png" style="margin-right: 20px; padding-top: 20px;"><span style="padding-bottom: 20px;">Giftcard Declined</span></h1>
<p>
Hello <%= @user.firstname %>,<br><br>

Your gift card(s) has been rejected for one or all of the following reasons;<br>

- Blurred, scanned or photoshopped picture<br>

- Face value of gift card is written by hand instead of printed<br>

- One or all of your gift card(s) has a face value of more than $100 or less than $20<br>

- Already redeemed gift card<br>

- Card is not redeemable in the United States iTunes store.<br>

<br>
If you feel you have received this message in error, please call or Whatsapp us on +233 559026922. Please do not reply to this email because this is an automated email and unable to receive reply.

<br><br>
To the money,
<br>
iTunesCash.

</p>