<% if signed_in? %>

<style type="text/css">

.landfooter{
	margin-top: 100px;
	background-color: #eb3812;
	color: white;
	padding: 50px;
}

.footerabout{
	text-align: justify;
	font-weight: 300;
}

</style>

<section class="landfooter">

<div class="container">
  <div class="row">
    <div class="col-lg-4 col-sm-12">
      <div class="innerholdfooter">
        <h4 style="color: #ffffff;">About iTunesCash.io</h4>
        <p class="footerabout">
                 Founded in 2015 based in Ghana, iTunesCash is a platform for cashing out unwanted and unused iTunes gift cards for Mobile Money or Bitcoin. Many people have unwanted or unused iTunes gift cards which are sometimes left to collect dust....<br><a href="/about" style="color: white; font-weight: 500;">Read more</a>
        </p>
        <p><a href="/terms" style="color: white;">Our Terms and Conditions of Service</a></p>
      </div>
    </div>
        <div class="col-lg-4 col-sm-12">
      <div class="innerholdfooter">
        <h4 style="color: #ffffff;">Social Media</h4>
        <ul style="list-style-type: none;">
                  <li><span style="margin-right: 15px;"><i class="fa fa-whatsapp" aria-hidden="true" style="color: #fff;"></i>
                      <a href="" style="margin-left: 0px; color: #fff;">WhatsApp (+233 559026922)</a>
                  </li>
        </ul>
      </div>
    </div>
    <div class="col-lg-4 col-sm-12">
      <div class="innerholdfooter">
        <h4 style="color: #ffffff;">Contact Us</h4>
        <ul style="list-style-type: none;">
                  <li><span style="margin-right: 15px;"><i class="fa fa-envelope-o" aria-hidden="true" style="color: #fff;"></i>
                      <span style="margin-left: 0px; color: #fff;">itunescashgh@gmail.com</span>
                  </li>
                  <li>
                  <i class="fa fa-phone" aria-hidden="true" style="color: #fff;"></i>
                  <span style="margin-left: 0px; color: #fff;">+233 559026922</span>
                  </li>
                  <li>
                   <i class="fa fa-whatsapp" aria-hidden="true" style="color: #fff;"></i>
                   <span style="margin-left: 0px; color: #fff;">+233 559026922</span>
                  </li>
        </ul>
        
      </div>
    </div>
  </div>
</div>

</section>

<% end %>

